:root {
  --orange: #ff6c47;
  --noir: #000000;
  --vert: #bac373;
  --gris: #999999;
}

html {
  width: 100vw;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

html a {
  text-decoration: none;
}

html li {
  list-style-type: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.nav {
  background-color: var(--noir);
}

.nav .nav-item {
  color: white;
}

header {
  width: 100%;
  height: 50vh;
  max-height: 15em;
  background-image: url("_assets/_images/entete-640.jpg");
  background-size: cover;
  background-position: top;
}

header .logo-mobile {
  display: none;
}

.interface {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
}

.interface .wrap-collab {
  position: relative;
  bottom: 1.5em;
  padding: 1em 0;
  width: 50vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--vert);
}

.interface .wrap-collab .collab {
  color: #fff;
}

.interface .wrap-auteur {
  width: 100vw;
  margin: 0 auto;
  padding: 2em 0 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.interface .wrap-auteur .img-auteur {
  display: none;
}

.interface .wrap-auteur .wrap-nom-auteur {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.79em;
}

.interface .wrap-auteur .wrap-nom-auteur .auteur-prenom {
  padding-right: 0.5em;
  font-weight: 700;
}

.interface .zone-titre {
  text-align: center;
}

.interface .zone-titre .titre-article {
  font-size: 1.9rem;
  font-weight: 100;
}

.interface .zone-titre .titre-section {
  padding-top: 0.8em;
  color: var(--gris);
  font-size: 1rem;
  font-weight: 700;
}

.interface .citation {
  width: 60vw;
  margin: 0 auto;
  padding: 2.5em 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 900;
  font-style: italic;
}

.interface .paragraph {
  width: 80vw;
  margin: 0 auto;
  padding: 1.5em 0;
}

.interface .paragraph .soustitre {
  padding-bottom: 0.4em;
  font-size: 1.2rem;
  text-align: left;
  color: var(--orange);
}

.interface .paragraph > p {
  text-align: justify;
  font-size: 0.85rem;
  line-height: 1.25rem;
}

.interface .paragraph .paragraph-img {
  padding: 1em 0;
  margin: 0 auto;
  overflow: hidden;
}

.interface .paragraph .paragraph-img .img-cuisine {
  display: block;
  width: 100%;
  margin: 0 -30%;
}

.interface .paragraph .paragraph-img figcaption {
  font-size: 0.75rem;
  font-style: italic;
  padding-top: 0.8em;
}

.interface .recette-wrapper {
  width: 60vw;
  padding-top: 2em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.interface .recette-wrapper .recette-list .recette {
  padding-bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.interface .recette-wrapper .recette-list .recette .recette-image {
  width: 70%;
  margin: 0 auto;
}

.interface .recette-wrapper .recette-list .recette .recette-titre {
  text-align: center;
  font-size: 1rem;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.interface .recette-wrapper .recette-list .recette .recette-p {
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-align: justify;
  text-align-last: center;
  padding-bottom: 0.5em;
}

.interface .recette-wrapper .recette-list .recette .recette-bt {
  width: 200px;
  margin: 1rem;
  padding: 0.9em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  color: #fff;
  background-color: var(--vert);
}

.pub-mobile {
  margin: 2rem 0;
  width: 100vw;
  height: 10rem;
  background-color: var(--gris);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pub-mobile .texte-pub-mobile {
  color: #fff;
  text-align: center;
}

.pub-desktop {
  display: none;
}
/*# sourceMappingURL=style.css.map */