:root {
  --orange: #ff6c47;
  --noir: #000000;
  --vert: #bac373;
  --vert-fonce: #98a154;
  --gris: #999999;
  --blanc: #fff;
}

html {
  width: 100%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

html a {
  text-decoration: none;
}

html li {
  list-style-type: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.interface {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav {
  z-index: 19999;
  background-color: var(--noir);
  position: fixed;
  height: 100vh;
}

.nav .nav-wrapper {
  width: 300px;
  -webkit-transition: width 1s;
  transition: width 1s;
  margin-top: 4rem;
  height: 100%;
}

.nav .nav-wrapper .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  white-space: nowrap;
  height: 100%;
}

.nav .nav-wrapper .nav-list .nav-lien {
  padding-left: 2em;
}

.nav .nav-wrapper .nav-list .nav-lien .nav-item {
  padding: 0.7em 0 0.7em 1em;
  font-size: 1.3rem;
  font-weight: 100;
  color: var(--blanc);
}

.nav .nav-wrapper .nav-list .nav-selected {
  width: 85%;
  background-color: var(--orange);
}

.nav .nav-wrapper.nav-close {
  width: 0;
}

.menu-bars {
  position: absolute;
  z-index: 200000;
  position: fixed;
  right: 40px;
  top: 18px;
  font-size: 2rem;
  color: var(--blanc);
}

header {
  width: 100%;
  height: 22rem;
  background-image: url("_assets/_images/entete-640.jpg");
  background-size: cover;
  background-position: top;
}

.bande-menu {
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: var(--noir);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bande-menu .logo-mobile {
  padding-top: 3px;
  width: 100px;
}

@media only screen and (min-width: 768px) {
  header {
    height: 30rem;
  }
}

.contenu-page {
  width: 100%;
}

.contenu-page .contenu-article {
  background-color: var(--blanc);
}

.contenu-page .contenu-article .wrap-collab {
  position: relative;
  width: 50vw;
  max-width: 300px;
  bottom: 1.5em;
  padding: 1em 0;
  margin: 0 auto;
  background-color: var(--vert);
}

.contenu-page .contenu-article .wrap-collab .collab {
  text-align: center;
  color: var(--blanc);
}

.contenu-page .contenu-article .wrap-auteur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100vw;
  margin: 0 auto;
  padding: 2em 0 0.5em 0;
}

.contenu-page .contenu-article .wrap-auteur .img-auteur {
  display: none;
}

.contenu-page .contenu-article .wrap-auteur .wrap-nom-auteur {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-size: 0.79em;
}

.contenu-page .contenu-article .wrap-auteur .wrap-nom-auteur .auteur-prenom {
  padding-right: 0.5em;
  font-weight: 700;
}

.contenu-page .contenu-article .zone-titre {
  width: 20em;
  margin: 0 auto;
  text-align: center;
}

.contenu-page .contenu-article .zone-titre .titre-article {
  font-size: 2rem;
  font-weight: 100;
}

.contenu-page .contenu-article .zone-titre .titre-section {
  padding-top: 0.8em;
  color: var(--gris);
  font-size: 1rem;
  font-weight: 700;
}

.contenu-page .contenu-article .citation {
  width: 60vw;
  margin: 0 auto;
  padding: 2.5em 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  font-style: italic;
}

.contenu-page .contenu-article .paragraph {
  width: 80vw;
  margin: 0 auto;
  padding: 1.5em 0;
}

.contenu-page .contenu-article .paragraph .soustitre {
  padding-bottom: 0.4em;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  color: var(--orange);
}

.contenu-page .contenu-article .paragraph > p {
  text-align: justify;
  font-size: 0.85rem;
  line-height: 1.25rem;
}

.contenu-page .contenu-article .paragraph .paragraph-img-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenu-page .contenu-article .paragraph .paragraph-img-align .paragraph-img {
  padding: 1em 0;
}

.contenu-page .contenu-article .paragraph .paragraph-img-align .paragraph-img .img-cuisine {
  width: 80vw;
  max-width: 500px;
}

.contenu-page .contenu-article .paragraph .paragraph-img-align .paragraph-img figcaption {
  font-size: 0.75rem;
  font-style: italic;
  padding-top: 0.8em;
}

@media only screen and (min-width: 768px) {
  .contenu-article {
    position: relative;
    width: 85vw;
    margin: 0 auto;
    top: -120px;
    background-color: #2a7099 !important;
  }
  .contenu-article .wrap-collab {
    position: fixed;
    bottom: -30px;
  }
  .contenu-article .wrap-collab .collab {
    text-align: left;
  }
  .contenu-article .zone-article {
    width: 60em;
  }
  .contenu-article .titre-article {
    font-size: 6rem;
    text-align: left;
  }
}

.recette-wrapper {
  padding-top: 2em;
}

.recette-wrapper .recette-list {
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.recette-wrapper .recette-list .recette {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.recette-wrapper .recette-list .recette .recette-image {
  width: 100%;
  margin: 0 auto;
}

.recette-wrapper .recette-list .recette .recette-titre {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.recette-wrapper .recette-list .recette .recette-p {
  font-size: 0.85rem;
  line-height: 1.25rem;
  text-align: justify;
  text-align-last: center;
  padding-bottom: 0.5em;
}

.recette-wrapper .recette-list .recette .recette-bt {
  width: 200px;
  margin: 1rem;
  padding: 0.9em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 0.6em;
  color: var(--blanc);
  background-color: var(--vert);
}

.recette-wrapper .recette-list .recette:nth-of-type(1)::after, .recette-wrapper .recette-list .recette:nth-of-type(2)::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-top: 3rem;
  margin-right: -100%;
  border-top: 1px solid var(--gris);
}

.pub-mobile {
  margin: 2rem 0;
  height: 190px;
  background-color: var(--gris);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pub-mobile .texte-pub-mobile {
  color: var(--blanc);
  text-align: center;
}

.pub-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .pub-mobile {
    margin: 2rem auto;
    padding: 2em 0 2em 0;
    width: 80%;
    max-width: 800px;
  }
}

footer {
  width: 100vw;
  height: 100%;
  padding: 2.5em 0;
  background-color: var(--noir);
}

footer .copyright {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: var(--blanc);
}
/*# sourceMappingURL=style.css.map */