//----------------------------------------------------//
//                                                    //
//                     // VARIABLES //                //
//                     _variables.scss                //
//----------------------------------------------------//
:root {
    --orange: #ff6c47;
    --noir: #000000;
    --vert: #bac373;
    --gris: #999999;
  }