//----------------------------------------------------//
//                                                    //
//                     // ARTICLE //                  //
//                     _article.scss                  //
//----------------------------------------------------//


// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// MAIN 
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
.contenu-page {
    width: 100%;

    // - - - - - - - - - - - - - - - - - -
    // CONTENU DE L'ARTICLE
    // - - - - - - - - - - - - - - - - - -
    & .contenu-article {
        background-color: var(--blanc);

        @include breakpoint(768){
            position: relative;
            width: 85vw;
            margin: 0 auto;
            top: -120px;
        }

        @include breakpoint(1366){
            @include flex-horizontal;
            justify-content: center;
            flex-wrap: wrap;
            width: 80vw;
            max-width: 80vw;
            top: -200px;
        }

        // ZONE COLLAB
        & .wrap-collab {
            position: relative; 
            width: 50vw;
            max-width: 300px;
            bottom: 1.5em;
            padding: 1em 0;
            margin: 0 auto;
            background-color: var(--vert);

            @include breakpoint(768){
                width: 84%;
                max-width: 1000px;
                padding: 0.5em 0;
                bottom: -30px;
            }

            @include breakpoint(1366){
                width: 90%;
                max-width: 90%;
                padding: 1em 0;
                margin: 1rem 0 4rem 0;
                flex-basis: 100%;
            }
    
            & .collab {
                text-align: center;
                color: var(--blanc);
            
                @include breakpoint(768){
                    padding-left: 1em;
                    text-align: left;
                }

                @include breakpoint(1366){
                     font-size: 1.4rem;
                }
        
            }
        }

        // - - - - - - - - - - - - - - - - - - - - - - - - - - -
        // INCLUT L'ARTICLE (SANS PUBS & ZONE AUTEUR) 
        // - - - - - - - - - - - - - - - - - - - - - - - - - - -
        & .article-flex-desktop {
            width: 80%;
            margin: 0 auto;

            @include breakpoint(1366) {
                width: 65%;
                margin: 3rem 0 0 0;
                padding-left: 4em;
            }

            // ZONE TITRE
            & .zone-titre {
                width: 80%;
                margin: 0 auto;
                text-align: center;

                @include breakpoint(768){
                    width: 80%;
                    margin: 0;
                    text-align: left;
                }
                @include breakpoint(1366){
                    width: 100%;
                    margin: 0;
                }
                
                & .titre-article {
                    font-size: 2.5rem;
                    font-weight: 100;

                    @include breakpoint(768){
                        font-size: 2.8rem;
                        width: 500px;
                    }
                    @include breakpoint(1366){
                        font-size: 4rem;
                        width: 90%;
                    }
                }
        
                & .titre-section {
                    padding-top: 0.8em;
                    color: var(--gris);
                    font-size: 1rem;
                    font-weight: 700;

                    @include breakpoint(1366){
                        font-size: 1.7rem;
                    }
                }
            }

            // ZONE CITATION
            & .citation {
                width: 60vw;
                margin: 0 auto;
                padding: 2.5em 0;
                text-align: center;
                font-size: 0.8rem;
                font-weight: 500;
                line-height: 1.8rem;
                font-style: italic;
    
                @include breakpoint(768){
                    max-width: 465px;
                    font-size: 0.9rem;
                }
                @include breakpoint(1366){
                    font-size: 1.1rem;
                    width: 80%;
                    max-width: 800px;
                }
            }

            // ZONE PARAGRAPHE (inclut le sous-titre et p)
            & .paragraph {
                padding: 1.5em 0;
    
                @include breakpoint(768){
                    width: 100%;
                }
        
                & .soustitre {
                    padding-bottom: 0.7em;
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-align: left;
                    color: var(--orange);
    
                    @include breakpoint(768){
                        font-size: 1.6rem;
                    }
                    @include breakpoint(1366){
                        font-size: 1.7rem;
                    }
                }
        
                & > p {
                    text-align: justify;
                    font-size: 0.85rem;
                    line-height: 1.25rem;
                    font-weight: 100;
    
                    @include breakpoint(768){
                        font-size: 1.25rem;
                        line-height: 2rem;
                    }
                }
                
                // L'IMAGE CUISINE (dans 2e paragraphe)
                & .paragraph-img-align {
                    @include flex-vertical;
                    align-items: center;
        
                    & .paragraph-img {
                        padding: 1em 0;
        
                        & .img-cuisine {
                            width: 80vw;
                            max-width: 500px;
                        }
            
                        & figcaption {
                            font-size: 0.75rem;
                            font-style: italic;
                            padding-top: 0.8em;
                        }
                    }
                }
            }

        }

        // - - - - - - - - - - - - - - - - - - - - - - - - - - -
        // ASIDE (inclut zone auteur)
        // - - - - - - - - - - - - - - - - - - - - - - - - - - -
        aside {
            width: 100%;
            @include flex-vertical;
            align-items: center;

            @include breakpoint(768) {
                width: 80%;
                align-items: flex-start;
                margin-left: 10%;
            }
            @include breakpoint(1366) {
                width: 25%;
                margin-left: 0;
            }

            // ZONE AUTEUR
            & .wrap-auteur {
                @include flex-horizontal;
                width: 100vw;
                margin: 0 auto;
                padding: 2em 0 0.5em 0;
    
                @include breakpoint(768){
                    margin: 2rem 0 0 0;
                }

                @include breakpoint(1366){
                    width: 100%;
                    @include flex-vertical;
                    align-items: center;
                    padding: 0;
                    margin: 3rem 0;
                }

        
                & .img-auteur {
                    display: none;
    
                    @include breakpoint(1366){
                        display: block;
                        width: 100%;
                        padding: 50px 10px 0 10px;
                        border: 5px solid var(--orange-trans);
                    }
                }
            
                & .wrap-nom-auteur {
                    margin: 0 auto;
                    @include flex-horizontal;
                    flex-wrap: nowrap;
                    font-size: 0.79em;

                    @include breakpoint(768){
                        margin: 0;
                        font-size: 0.9em; 
                    }
                    @include breakpoint(1366){
                        @include flex-vertical;
                        margin-top: 2rem;
                        align-items: center;
                        font-size: 1.4rem;
                    }
        
                    & .auteur-prenom {
                        padding-right: 0.5em;
                        font-weight: 700;

                        @include breakpoint(1366){
                            font-size: 1.7rem;
                            padding-bottom: 0.3em;
                        }
                    }
                }
            }
        }
        
        
    }
}









