//----------------------------------------------------//
//                                                    //
//                       // PUB //                    //
//                      _pub.scss                     //
//----------------------------------------------------//

// Classe inactive pour EXTEND 
.pub-basic {
    background-color: var(--gris-fonce);
    @include flex-horizontal;
    align-items: center;
    justify-content: center;
    color: var(--gris);
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// PUBS VERSION MOBILE & TABLETTE
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
.pub-mobile {
    @extend .pub-basic;
    margin: 2rem 0;
    height: 190px;

    @include breakpoint(768){
        margin: 2rem auto;
        padding: 2em 0 2em 0;
        width: 100%;
        max-width: 700px;
    }

    @include breakpoint(1366){
        display: none;
    }
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// PUBS VERSION DESKTOP
// - - - - - - - - - - - - - - - - - - - - - - - - - - -
.pub-desktop {
    display: none;

    @include breakpoint(1366){
        display: block;
        width: 100%;
    }

    & .pub {
        @extend .pub-basic;
        margin-bottom: 4rem;
        max-width: 350px;
        height: 720px;
        font-size: 1.3rem;
        
    }
    
}
