//----------------------------------------------------//
//                                                    //
//                     // RESET //                    //
//                     _reset.scss                    //
//----------------------------------------------------//

html {
    width: 100%;
    overflow-x: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;

    & body {
        font-family: 'Roboto', sans-serif;

        & a {
            text-decoration: none;
            }
        & li {
            list-style-type: none;
        }
    }
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
