
.interface {
    position: relative; 
    margin: 0 auto;
    background-color: #fff;

    & .wrap-collab {
        position: relative; 
        bottom: 1.5em;
        padding: 1em 0;
        width: 50vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        background-color: var(--vert);

        & .collab {
            color: #fff;
        }
    }
 
    & .wrap-auteur {
        width: 100vw;
        margin: 0 auto;
        padding: 2em 0 0.5em 0;
        display: flex;
        flex-direction: row;

        & .img-auteur {
            display: none;
        }
    
        & .wrap-nom-auteur {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            font-size: 0.79em;

            & .auteur-prenom {
                padding-right: 0.5em;
                font-weight: 700;
            }
        }
    }

    & .zone-titre {
        text-align: center;
        
        & .titre-article {
            font-size: 1.9rem;
            font-weight: 100;
        }

        & .titre-section {
            padding-top: 0.8em;
            color: var(--gris);
            font-size: 1rem;
            font-weight: 700;
        }
    }

    & .citation {
        width: 60vw;
        margin: 0 auto;
        padding: 2.5em 0;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 900;
        font-style: italic;
    }

    & .paragraph {
        width: 80vw;
        margin: 0 auto;
        padding: 1.5em 0;

        & .soustitre {
            padding-bottom: 0.4em;
            font-size: 1.2rem;
            text-align: left;
            color: var(--orange);
        }

        & > p {
            text-align: justify;
            font-size: 0.85rem;
            line-height: 1.25rem;
        }

        & .paragraph-img {
            padding: 1em 0;
            margin: 0 auto;
            overflow:hidden;

            & .img-cuisine {
                display:block; 
                width:100%; 
                margin:0 -30%;
            }

            & figcaption {
                font-size: 0.75rem;
                font-style: italic;
                padding-top: 0.8em;
            }
        }
    }
}









