//----------------------------------------------------//
//                                                    //
//                     // ARTICLE //                  //
//                     _article.scss                  //
//----------------------------------------------------//

.contenu-page {
    width: 100%;

    & .contenu-article {
        background-color: var(--blanc);

        @include breakpoint(768){
            position: relative;
            width: 85vw;
            margin: 0 auto;
            top: -120px;
        }

        @include breakpoint(1366){
            @include flex-horizontal;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
            max-width: 1500px;
        }

        & .wrap-collab {
            position: relative; 
            width: 50vw;
            max-width: 300px;
            bottom: 1.5em;
            padding: 1em 0;
            margin: 0 auto;
            background-color: var(--vert);

            @include breakpoint(768){
                width: 84%;
                max-width: 1000px;
                padding: 0.5em 0;
                bottom: -30px;
            }

            @include breakpoint(1366){
                width: 90%;
                max-width: 90%;
                margin-bottom: 4rem;
                flex-basis: 100%;
            }
    
            & .collab {
                text-align: center;
                color: var(--blanc);
            
                @include breakpoint(768){
                    padding-left: 1em;
                    text-align: left;
                }

                @include breakpoint(1366){
                    width: 90%;
                    max-width: 90%;
                    flex-basis: 100%;
                    width: 100%;
                    font-size: 1.4rem;
                }
        
            }
        }

        & .article-flex-desktop{
            @include breakpoint(1366){
                width: 60%;
            }
        
            & .zone-titre {
                width: 20em;
                margin: 0 auto;
                text-align: center;
                @include breakpoint(768){
                    width: 80%;
                    text-align: left;
                }
                
                & .titre-article {
                    font-size: 2rem;
                    font-weight: 100;
                    @include breakpoint(768){
                        font-size: 2.8rem;
                        width: 500px;
                    }
                }
        
                & .titre-section {
                    padding-top: 0.8em;
                    color: var(--gris);
                    font-size: 1rem;
                    font-weight: 700;
                }
            }
        
            & .citation {
                width: 60vw;
                margin: 0 auto;
                padding: 2.5em 0;
                text-align: center;
                font-size: 0.8rem;
                font-weight: 400;
                font-style: italic;
    
                @include breakpoint(768){
                    max-width: 465px;
                    font-size: 0.9rem;
                }
            }
        
            & .paragraph {
                width: 80vw;
                margin: 0 auto;
                padding: 1.5em 0;
    
                @include breakpoint(768){
                    width: 80%;
                }
        
                & .soustitre {
                    padding-bottom: 0.4em;
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-align: left;
                    color: var(--orange);
    
                    @include breakpoint(768){
                        font-size: 1.4rem;
                    }
                }
        
                & > p {
                    text-align: justify;
                    font-size: 0.85rem;
                    line-height: 1.25rem;
    
                    @include breakpoint(768){
                        font-size: 1.05rem;
                        line-height: 1.5rem;
                    }
                }
        
                & .paragraph-img-align {
                    @include flex-vertical;
                    align-items: center;
        
                    & .paragraph-img {
                        padding: 1em 0;
        
                        & .img-cuisine {
                            width: 80vw;
                            max-width: 500px;
                        }
            
                        & figcaption {
                            font-size: 0.75rem;
                            font-style: italic;
                            padding-top: 0.8em;
                        }
                    }
                }
            }

        }

        aside {
            width: 25%;
            @include flex-vertical;
            align-items: center;

            & .wrap-auteur {
                @include flex-horizontal;
                width: 100vw;
                margin: 0 auto;
                padding: 2em 0 0.5em 0;
    
                @include breakpoint(768){
                    width: 80%;
                    flex-wrap: nowrap;
                    margin-top: 2rem;
                    display: block;
                }

                @include breakpoint(1366){
                    width: 100%;
                    @include flex-vertical;
                    align-items: center;
                    padding: 0;
                    margin: 3rem 0;
                }

        
                & .img-auteur {
                    display: none;
    
                    @include breakpoint(1366){
                        display: block;
                        width: 80%;
                        padding: 50px 10px 0 10px;
                        border: 5px solid var(--orange-trans);
                    }
                }
            
                & .wrap-nom-auteur {
                    margin: 0 auto;
                    @include flex-horizontal;
                    font-size: 0.79em;

                    @include breakpoint(768){
                        font-size: 0.9em; 
                    }
                    @include breakpoint(1366){
                        @include flex-vertical;
                        margin-top: 2rem;
                        align-items: center;
                        font-size: 1.4rem;
                    }
        
                    & .auteur-prenom {
                        padding-right: 0.5em;
                        font-weight: 700;

                        @include breakpoint(1366){
                            font-size: 1.7rem;
                            padding-bottom: 0.3em;
                        }
                    }
                }
            }
        }
        
        
    }
}









