//----------------------------------------------------//
//                                                    //
//                     // FOOTER //                   //
//                     _footer.scss                   //
//----------------------------------------------------//

footer {
    width: 100vw;
    height: 100%;
    padding: 2.5em 0;
    background-color: var(--noir);

    @include breakpoint(768){
        padding: 1.7em 0;
    }

    & .copyright {
        width: 280px;
        margin: 0 auto;
        text-align: center;
        font-size: 0.9rem;
        line-height: 1.3rem;
        color: var(--blanc);

        @include breakpoint(768){
            width: 100%;
            font-size: 1.3rem;
        }
        @include breakpoint(1366){
            width: 100%;
            font-size: 1rem;
        }
    }
}