//----------------------------------------------------//
//                                                    //
//                     // HEADER //                   //
//                     _header.scss                   //
//----------------------------------------------------//

header {
    width: 100%;
    height: 20rem;
    background-image: url('_assets/_images/entete-640.jpg');
    background-size: cover;
    background-position: center;

    & .logo-mobile {
        width: 100px;
        
    }
}

