//----------------------------------------------------//
//                                                    //
//                        // NAV //                   //
//                     _navPrincipale.scss            //
//----------------------------------------------------//

.nav {
    z-index: 19999;
    background-color: var(--noir);
    position: fixed;
    height: 100vh;

    @include breakpoint(1366){
        background-color: transparent;
        height: 70.5px;
    }

    
    & .nav-wrapper {
        width: 300px;
        transition: width 1s;
        margin-top: 4rem;
        height: 100%;

        @include breakpoint(1366){
            margin: 0;
        }

        & .nav-list {
            @include flex-vertical;
            white-space: nowrap;
            height: 100%;

            @include breakpoint(1366){
                @include flex-horizontal;
            }
            
            & .nav-lien {
                padding-left: 2em;

                @include breakpoint(1366){
                    padding: 0.58em;
                    align-self: center;
                }
                
                & .nav-item {
                    padding: 0.7em 0 0.7em 1em;
                    font-size: 1.3rem;
                    font-weight: 100;
                    color: var(--blanc);

                    @include breakpoint(1366){
                        font-size: 1rem;
                        font-weight: 500;
                        padding: 1em;
                        
                    }
                
                }

            }

            & .nav-lien:hover {
                width: 85%;
                background-color: var(--brun-fonce);
                transition: all 0.5s;
            }
            & .nav-lien:active {
                background-color: var(--orange);
            }

            @include breakpoint(1366) {
                & .nav-lien:hover {
                    width: 100%
                }
            }

            & .nav-selected{
                width: 85%;
                background-color: var(--orange);

                @include breakpoint(1366){
                    padding: 0.58em;
                }
            }
            
        }

    }

    & .nav-wrapper.nav-close {
        width: 0;

        @include breakpoint(1366){
            width: 100%;
        }
    }
}

.menu-bars {
    position: absolute;
    z-index: 200000;
    position: fixed;
    right: 40px;
    top: 18px;
    font-size: 2rem;
    color: var(--blanc);

    @include breakpoint(1366) {
        display: none;
    }
}
    




