//----------------------------------------------------//
//                                                    //
//                       // PUB //                    //
//                      _pub.scss                     //
//----------------------------------------------------//

.pub-mobile {
    margin: 2rem 0;
    height: 190px;
    background-color: var(--gris);
    @include flex-horizontal;
    align-items: center;
    justify-content: center;

    @include breakpoint(768){
        margin: 2rem auto;
        padding: 2em 0 2em 0;
        width: 80%;
        max-width: 800px;
    }

    & .texte-pub-mobile {
        color: var(--blanc);
        text-align: center;
    }
}

.pub-desktop {
    display: none;
}