//----------------------------------------------------//
//                                                    //
//                     // INTERFACE //                //
//                     _interface.scss                //
//----------------------------------------------------//

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// Menu mobile et interface côte à côte
// et cacher le contenu qui dépasse (si c'est le cas)
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.interface {
    overflow: hidden;
    @include flex-horizontal;
    justify-content: flex-end;

    @include breakpoint(1366) {
        justify-content: center;
    }
}