//----------------------------------------------------//
//                                                    //
//                     // interfaceMobile //          //
//                     _interfaceMobile.scss          //
//----------------------------------------------------//

.interface {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}