//----------------------------------------------------//
//                                                    //
//                     // interfaceMobile //          //
//                     _interfaceMobile.scss          //
//----------------------------------------------------//

.interface {
    overflow: hidden;
    @include flex-horizontal;
    justify-content: flex-end;

    @include breakpoint(1366) {
        justify-content: center;
    }
}